<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
</head>

<body>
    <h1>WebSocket Chat</h1>
    <div>
        <h2>Your ID: <span id="ws-id"></span></h2>
        <h2>Your Nickname: <span id="ws-nickname"></span></h2>
        <form action="" onsubmit="setNickname(event)">
            <input type="text" id="nicknameText" autocomplete="off" />
            <button>Set</button>
        </form>
    </div>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off" />
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
        var client_id = Date.now()
        document.querySelector("#ws-id").textContent = client_id;
        var ws = new WebSocket(`ws://localhost:8000/ws/${client_id}`);

        ws.onmessage = function (event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
        };

        function sendMessage(event) {
            var input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        };

        function setNickname(event) {
            var input = document.getElementById("nicknameText")
            document.querySelector("#ws-nickname").textContent = input.value
            event.preventDefault()
        };
    </script>
</body>

</html>