<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
</head>

<body>
    <h1>WebSocket Chat</h1>
    <div>
        <h2>Your Nickname: <span id="ws-nickname"></span></h2>
        <form action="" id="nicknameSetter">
            <input type="text" id="nicknameText" autocomplete="off" />
            <button>Set nickname and connect</button>
        </form>
    </div>

    <div id="messageDiv" hidden>
        <form action="" id="messageForm">
            <input type="text" id="messageText" autocomplete="off" />
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
    </div>

    <script>
        const client_id = Date.now();

        const start = document.getElementById('nicknameSetter');
        start.addEventListener('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();
            onStart();
        });

        function onStart() {

            start.hidden = true;
            document.getElementById("messageDiv").hidden = false;

            var nickname = document.getElementById("nicknameText").value
            document.querySelector("#ws-nickname").textContent = nickname;

            var ws = new WebSocket(`ws://localhost:8000/ws/${client_id}`);

            user = {
                "client_id": client_id,
                "nickname": nickname,
                "message": null,
                "picture": null
            }

            ws.onopen = () => ws.send(JSON.stringify(user))

            var msgForm = document.getElementById("messageForm")
            msgForm.addEventListener('submit', sendMessage)

            class Transport {
                constructor(
                    message_type,
                    client_id,
                    nickname,
                    message,
                    picture
                ) {
                    this.message_type = message_type;
                    this.client_id = client_id;
                    this.nickname = nickname;
                    this.message = message;
                    this.picture = picture;
                }

                static fromJSON(json) {
                    return Object.assign(new Student(), json);
                }
            }

            ws.onmessage = function (event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };

            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
                event.stopPropagation();
            };
        };

    </script>
</body>

</html>