<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ChatApp</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- linking css file with html file -->
    <link rel="stylesheet" href="{{ url_for('static', path='chat.css') }}">
</head>

<body>
    <div class="chat-body card">
        <div class="card-body">
            <strong id="profile"></strong>
            <h4 class="card-title text-center"> Chat App </h4>
            <hr>
            <div id="nickname-div">
                <h4 lass="card-title text-center">Your Nickname:</h4>
                <form action="" id="nickname-form" class="form-inline">
                    <input type="text" id="nickname-text" class="form-control" autocomplete="off" />
                    <button class="btn btn-primary">Set</button>
                </form>
            </div>
            <div id="box" hidden>
                <div id="premessages-div">
                    <div id="messages-div">
                    </div>
                    <form class="form-inline" id="chat-form">
                        <input type="text" id="chat-text" class="form-control" autocomplete="off"
                            placeholder="Write your message">
                        <button id="send" type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
                <div id="chatters-div">
                    <h6 class="card-title text-center"> Chat Members: </h6>
                    <hr>
                    <ul id="chatters-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    class Transport {
        constructor(
            message_type,
            nickname,
            text,
            picture,
            chatters
        ) {
            this.message_type = message_type;
            this.nickname = nickname;
            this.text = text;
            this.picture = picture;
            this.chatters = chatters;
        }

        static validate(json) {
            var obj = JSON.parse(json);

            if (!("nickname" in obj)) {
                obj["nickname"] = null;
            };
            if (!("text" in obj)) {
                obj["text"] = null;
            };
            if (!("picture" in obj)) {
                obj["picture"] = null;
            };
            if (!("chatters" in obj)) {
                obj["chatters"] = null;
            };

            return new Transport(
                obj["message_type"],
                obj["nickname"],
                obj["text"],
                obj["picture"],
                obj["chatters"]
            )
        }
    };

    var nickname = "";
    var chatters = new Set();
    var last_sender = false;

    var nicknameForm = document.getElementById('nickname-form');
    nicknameForm.addEventListener('submit', function (e) {
        e.preventDefault();
        e.stopPropagation();
        nickname = document.getElementById("nickname-text").value;
        if (nickname) {
            main();
        }
    });

    function main() {
        var ws = new WebSocket(`ws://${window.location.hostname}:${window.location.port}/ws`);

        ws.onopen = function (event) {
            data = {
                "nickname": nickname,
            };
            console.log(JSON.stringify(data))
            ws.send(JSON.stringify(data));
        }

        ws.onmessage = function (event) {
            console.log(event.data)

            var transport = Transport.validate(event.data);
            console.log(transport)

            if (transport.message_type === "CONNECTED") {
                chatters = new Set(transport.chatters);
                renderChatters();
                onStart();
                return
            }

            if (transport.message_type === "MESSAGE") {
                if (last_sender !== transport.nickname) {
                    renderNotification(transport.nickname + ":", "new_message");
                };
                renderText(transport.text);
                last_sender = transport.nickname;
                return
            }

            if (transport.message_type === "CONNECT") {
                renderNotification(transport.nickname + " connected!", "connected");
                chatters.add(transport.nickname);
                renderChatters();
                return
            }

            if (transport.message_type === "DISCONNECT") {
                renderNotification(transport.nickname + " disconnected!", "disconnected");
                chatters.delete(transport.nickname);
                renderChatters();
                return
            }
        };

        ws.onclose = function (event) {
            console.log(event.code, event.reason)
            alert(event.reason)
        };

        function onStart() {
            document.getElementById('nickname-div').hidden = true;
            document.getElementById('box').hidden = false;

            document.getElementById("profile").textContent = nickname;

            var chatForm = document.getElementById("chat-form");
            chatForm.addEventListener('submit', chatFormHandler);
        };

        function chatFormHandler(event) {
            event.preventDefault();
            event.stopPropagation();

            var input = document.getElementById("chat-text");
            var text = input.value;
            input.value = '';

            if (text) {
                sendMessage(text);
                if (last_sender !== true) {
                    renderNotification("You said:", "self_message");
                };
                last_sender = true;
                renderText(text);
            };
        }

        function sendMessage(text) {
            data = new Transport("MESSAGE", nickname, text, null);
            console.log(data);
            ws.send(JSON.stringify(data));
        };
    };

    function renderNotification(text, type) {
        let messagesDiv = document.getElementById("messages-div");
        let notification = document.createElement('div');
        notification.className = type;
        notification.innerText = text;
        messagesDiv.append(notification);
        messagesDiv.scrollTo(0, messagesDiv.scrollHeight);
    }

    function renderText(text) {
        let messagesDiv = document.getElementById("messages-div");
        let msg = document.createElement('div');
        msg.className = 'message';
        msg.innerText = text;
        messagesDiv.append(msg);
        messagesDiv.scrollTo(0, messagesDiv.scrollHeight);
    }

    function renderChatters() {
        var list = document.getElementById("chatters-list");
        list.innerHTML = "";

        chatters.forEach(element => {
            let el = document.createElement('li');
            el.className = 'chatter';
            el.innerText = element;
            list.append(el);
        });
    };
</script>

</html>